[Unit]
Description=Sync and build component of ffr cms
After=network.target

[Service]
User=cms
WorkingDirectory=~
Restart=always
RestartSec=30
ExecStart=/usr/bin/env bash on_change.sh watch
Environment=GITDIR=_db
Environment=OUTDIR=/var/www/ffr-cms.tr1k.de/vorschau/
Environment=BASEURL=https://ffr-cms.tr1k.de/vorschau/

[Install]
WantedBy=default.target
